<nav class="navbar navbar-expand-lg navbar-light bg-light rounded font-weight-bold" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" href="/" sec:authorize="isAnonymous()">✳✶ 🎀 𝒫𝓇🍑𝒹𝓊𝒸𝓉 𝒮𝒽💙𝓅 🎀 ✶✳</a>
    <a class="navbar-brand" href="/users/home" sec:authorize="isAuthenticated()">✳✶ 🎀 𝒫𝓇🍑𝒹𝓊𝒸𝓉 𝒮𝒽💙𝓅 🎀 ✶✳</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navbarNav" sec:authorize="isAnonymous()">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/login">Login</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/register">Register</a>
            </li>
        </ul>
    </div>
    <div class="collapse navbar-collapse justify-content-end navbarNav" sec:authorize="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <div class="dropdown show">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" id="cartDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="showCartContent()">
                        Cart
                    </a>
                    <div id="cart-contents" class="dropdown-menu" aria-labelledby="cartDropdown">
                        <div class="dropdown-divider"></div>
                        <div class="button-holder d-flex justify-content-center">
                            <a href="/cart/details" class="btn btn-dark">View Cart</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/groceryLists/my">My Orders</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/users/profile">Profile</a>
            </li>

            <li class="nav-item active" sec:authorize="hasRole('MODERATOR')">
                <div class="dropdown show">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" id="moderatorDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Moderator
                    </a>
                    <div class="dropdown-menu" aria-labelledby="moderatorDropdown">
                        <a class="dropdown-item" href="/categories/add">Add Category</a>
                        <a class="dropdown-item" href="/products/add">Add Product</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/categories/all">All Categories</a>
                        <a class="dropdown-item" href="/products/all">All Products</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active" sec:authorize="hasRole('ADMIN')">
                <div class="dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" id="adminDropdown"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="adminDropdown">
                        <a class="dropdown-item" href="/users/all">All Users</a>
                        <a class="dropdown-item" href="/groceryLists/all">All Orders</a>
                    </div>
                </div>
            </li>

            <li class="nav-item active">
                <form th:action="@{/logout?login}" th:method="post">
                    <button class="logout-button nav-link">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>