<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:insert="fragments/head">
</th:block>
<body>
<div class="container-fluid">

    <header th:insert="fragments/navbar">
    </header>

    <main class="mt-3">
        <div class="jumbotron bg-light" th:object="${model}">
            <div class="text-center">
                <img th:src="*{imageUrl}" width="350" th:alt="*{productName}">
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-5">
                    <h1 th:text="|Name: *{productName}|"></h1>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="|Desciption: *{productDescription}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center mt-3">
                    <h4 th:text="|Customer: *{customerName}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="|Quantity: *{quantity}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="|Price: *{totalPrice}|"></h4>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 text-center">
                    <h4 th:text="|Date: *{orderDate}|"></h4>
                </div>
            </div>
        </div>
    </main>

    <th:block th:insert="fragments/footer">
    </th:block>

</div>

</body>
</html>